body {
	background-color: #36393E;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.text {
	background-color: #2C2F33;
	text-align: center;
	line-height: 1.5;
	color: white;
	font-family: Verdana, Courier New, serif;
}

.cards {
	width: 1400px;
	margin: 0 auto;
}

#buttons{
	width: 225px;
	margin: 0 auto;
	left: 50%;
}

#btn1, #btn2, #btn4{
	float: left;
}

#btn1, #btn2, #btn3, #btn4{
	background-color: #2C2F33;
	color: white;
	border: none;
	text-align: center;
	font-size: 16px;
	border: 1px solid white;
	font-family: Verdana, Courier New, serif;
	border-radius: 2px;
	height: 40px;
	width: 70px;
	margin: 2px;
}

#btn3{
	width: 120px;
	height: 45;
}
	
#card1, #card2, #card3, #card4{
	position: relative;
	width: 250px;
	height: 400;
    padding: 10px;
    border: 10px solid #FFE259;
    margin: 25px;
	background-color: grey;
	border-radius: 25px;
	float: left;
	background-image: url("images/skateboarding.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
	
h1{
	background-color: #FFE259;
	width: 200px;
	text-align: center;
	margin: 20px;
	border-radius: 5px;
	font-family: Verdana, Courier New, serif;
}
	
h2{
	background-color: #FAFAFA;
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 20px;
	border-radius: 10px;
	border-top: 2px solid black;
	border-right: 1px solid black;
	visibility: hidden;
	font-family: Verdana, Courier New, serif;
	line-height: 1.5;
}
	
h3{
	background-color: #cecbbf;
	width: 200px;
	height: 100px;
	text-align: center;
	margin: 20px;
	border-radius: 5px;
	border: 2px solid #b9b6ab;
	visibility: hidden;
	font-family: Verdana, Courier New, serif;
	line-height: 1.5;
}

h4{
	font-size: 40px;
	font-family: Verdana, Courier New, serif;
}

h5{
	font-size: 20px;
	font-family: Verdana, Courier New, serif;
	line-height: 1.5;
}
	
.tries{
	float: left;
	color: white;
	font-family: Verdana, Courier New, serif;
	line-height: 1.5;
}
	
#triesnum{
	float: right;
	color: white;
	font-family: Verdana, Courier New, serif;
	line-height: 1.5;
}

.players{
	color: white;
	font-family: Verdana, Courier New, serif;
	line-height: 1.5;
}
