body {
	background-color: #36393E;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.text {
	color: white;
}

.cards img{
	position: relative;
	margin: 1em;
}
	
#card1, #card2, #card3, #card4{
	position: relative;
	width: 250px;
	height: 400;
    padding: 10px;
    border: 10px solid #FFE259;
    margin: 5px;
	background-color: grey;
	border-radius: 25px;
	float:left;
	background-image: url("images/skateboarding.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
	
h1{
	background-color: #FFE259;
	width: 200px;
	text-align: center;
	margin: 20px;
	border-radius: 5px;
}
	
h2{
	background-color: #FAFAFA;
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 20px;
	border-radius: 10px;
	border-top: 2px solid black;
	border-right: 1px solid black;
	visibility: hidden;
}
	
h3{
	background-color: #cecbbf;
	width: 200px;
	height: 100px;
	text-align: center;
	margin: 20px;
	border-radius: 5px;
	border: 2px solid #b9b6ab;
	visibility: hidden;
}
	
.tries{
	float: left;
	color: white;
}
	
#triesnum{
	float: right;
	color: white;
}

.players{
	color: white;
}
